################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BurstIQ/FileContentIndex
/.vs/BurstIQ/v17
/.vs
